/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family:
    "Lato",
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

body {
  width: 100%;
}

h1 {
  font-size: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: #aba6a6;
}

h2 {
  font-size: 130%;
  text-transform: capitalize;
  font-weight: bold;
  color: #000;
}

p {
  line-height: 120%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:active {
  text-decoration-color: #f72210;
  color: #000;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.svg {
  width: 300px;
  fill: #fff;
}

li {
  list-style: none;
}

header {
  width: 97%;
  margin: 0 auto;
}

.first-nav {
  background: #f72210;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

nav div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

nav div:last-of-type {
  padding-bottom: 0%;
  margin-bottom: 0%;
}

nav div p {
  color: #fff;
  margin-bottom: 0%;
}

nav ul {
  justify-content: space-between;
  align-items: flex-end;
}

nav:first-of-type ul li {
  padding: 10px;
  color: #fff;
}

.subscribe a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.culture span a {
  background: #9c9c9c;
  margin: 10px;
}

.magazine span a {
  color: #f72210;
  padding: 5px;
  font-weight: bold;
}

.magazine img {
  width: 100%;
}

.weekly-sub a {
  padding: 10px;
  background: #f72210;
  color: #dad7d7;
  font-weight: bold;
  width: 110px;
}

nav:last-of-type ul li a {
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  border-right: 1px solid #9c9c9c;
  padding: 0 10px;
}

.weekly-sub a {
  padding: 10px;
  background: #f72210;
  color: #dad7d7;
  font-weight: bold;
  width: 110px;
}

.subscribe li:nth-of-type(2) a {
  background: #fff;
  display: inherit;
  padding: 0 5px;
  color: #f72210;
}

.menu {
  display: inherit;
  display: none;
}

.menu img {
  display: inherit;
  box-sizing: inherit;
  width: 100%;
  margin-top: -40%;
}

nav:last-of-type {
  border-bottom: 1px solid #aba6a6;
  margin: 0;
}

nav:last-of-type ul li a {
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  border-right: 1px solid #9c9c9c;
  padding: 0 10px;
}

nav:last-of-type ul li a:active,
nav:last-of-type ul li a:hover {
  color: #f72210;
}

nav:last-of-type ul input {
  border: 0;
}

@media screen and (max-width: 991px) {
  ul {
    align-items: center;
  }

  header {
    width: 100%;
  }

  inner .svg {
    width: 50%;
  }

  .date {
    display: none;
  }

  nav:last-of-type {
    display: none;
  }

  .menu {
    display: block;
    width: 40px;
    height: 30px;
    padding: 0%;
  }
}

.stories,
.magazine,
.editor {
  padding: 20px;
}

.featured-hero {
  background-image: url("img/alexandria-ocasio-cortez.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.span {
  padding: 10px;
  width: 50px;
  background: rgb(243, 239, 239);
  color: #f72210;
  font-weight: bold;
}

.independent-h2 {
  font-size: 100%;
  font-weight: bolder;
}

.top-hero {
  background-image: url("img/president-donald-trump-press-conference-united-nations.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.joe-biden {
  font-size: 100%;
}

.culture {
  background: rgba(230, 227, 227, 0.5);
  margin-bottom: 20px;
}

.culture .col-lg-6 {
  margin-bottom: 10px;
}

.culture h2 {
  font-size: 100%;
  font-weight: bolder;
  color: #9c9c9c;
  text-transform: uppercase;
  padding: 10px;
}

.culture h3 {
  font-size: 120%;
  padding: 5px;
}

.culture p {
  font-size: 100%;
  padding: 5px;
  color: #9c9c9c;
}

<<<<<<< head .culture img {
  ======= .culture span a {
    background: #9c9c9c;
    margin: 10px;
  }

  .culture img {
    >>>>>>> 843c11b652ff705ad8285de7c09387e0a2665b5e
  height: 150px;
    width: 100%;
  }

  .more-stories h2 {
    font-size: 100%;
    padding: 5px;
  }

  .more-stories img {
    width: 100%;
    height: 35%;
  }

  .more-stories p {
    padding: 10px;
  }

  .option img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 5px;
  }

  .opinion p {
    font-weight: bold;
    font-size: 100%;
    padding: 5px;
    margin-bottom: 0%;
  }

  .opinion span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    color: #aba6a6;
  }

  .latest-news {
    margin-top: 40px;
  }

  .latest-news p {
    font-weight: bold;
    font-size: 100%;
    padding: 5px;
  }

  .latest-news img {
    height: 100px;
    width: 100%;
    padding: 5px;
  }

  .sponsored-row {
    margin-top: 10px;
  }

  .sponsored-row h2,
  .sponsored-row p {
    padding: 20px;
  }

  .sponsored {
    background-image: url("img/pfc-prague-fertility-center.jpg");
    padding: 10px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .sponsored span {
    background: #9c9c9c;
    margin: 0%;
    width: 150px;
    padding: 10px;
  }

  /* magazine section */

  .magazine p {
    font-size: 120%;
    font-weight: bold;
    padding: 5px;
  }

  .magazine span {
    background: #f72210;
    margin: 10px 0;
    color: #dad7d7;
    padding: 3px;
  }

  .magazine-cover {
    background-image: url('img/october-11-18-2019.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .magazine-cover span {
    background: #9c9c9c;
    margin: 0%;
    width: 150px;
    padding: 10px;
    color: #f72210;
    font-weight: bolder;
  }

  .magazine-p {
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 120%;
    background: #dad7d7;
    text-transform: uppercase;
  }

  .magazine-a:hover,
  .magazine-a:active {
    text-decoration: none;
    background: #aba6a6;
  }

  .magazine-list img {
    height: 300px;
  }

  /* editor hero */

  .editor h2,
  .editor p {
    padding: 5px;
  }

  .editor-hero {
    background-image: url('img/donald-trump-october-white-house.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .editor-hero span {
    background: #dad7d7;
    margin: 0%;
    width: 70px;
    padding: 5px;
    color: #f72210;
    font-weight: bolder;
  }

  /* slideshows */

  .slideshows {
    padding: 15px;
  }

  .slideshows h1 {
    text-align: center;
  }

  .slideshows img {
    width: 100%;
  }

  .slideshows p {
    font-weight: bold;
    font-size: 120%;
  }

  /* us */

  .us {
    padding: 10px;
  }

  .us h1 {
    color: #f72210;
  }

  .us p {
    font-weight: bold;
    font-size: 120%;
  }

  .us img {
    width: 100%;
  }

  .mike-spence img {
    padding: 5px;
  }

  /* subscription */

  .weekly-sub {
    padding: 10px;
  }

  .weekly-sub img {
    width: 100%;
  }

  .sub-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  <<<<<<< head .sub-content h1 {
    ======= .weekly-sub a {
      padding: 10px;
      background: #f72210;
      color: #dad7d7;
      font-weight: bold;
      width: 110px;
    }

    .sub-content h1 {
      >>>>>>> 843c11b652ff705ad8285de7c09387e0a2665b5e
  color: #000;843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor843c11b652ff705ad8285de7c09387e0a2665b5ecolor
    }

    /* footer */
    .footer-svg {
      width: 250px;
      fill: rgb(255, 27, 27);
    }

    .footer-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .footer-icons ul {
      justify-content: space-between;
    }

    .footer-icons ul li img {
      width: 50px;
      height: 50px;
    }

    .icon-detail ul li:last-of-type {
      padding-top: 20px;
    }

    footer .footer-sec-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    footer .footer-sec-icons div ul {
      display: flex;
      <<<<<<< HEAD

=======
>>>>>>> 843c11b652ff705ad8285de7c09387e0a2665b5e
  justify-content: space-between;HEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-contentHEAD843c11b652ff705ad8285de7c09387e0a2665b5ejustify-content
    }
  }
}
